#profile-infos {
  height: 40vh;
  width: 100%;
  margin-top: 6vh;
  display: flex;
  padding: 0 10%;
}

#profile-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
}

.feed-btn-wrapper .visually-hidden {
  position: absolute;
  left: 50%;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
#profile-right {
  height: 15%;
  padding: 1rem 2rem;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 6vh;
  flex: 2;
}

#profile-top {
  display: flex;
}

#username-wrapper {
  flex: 1;
}

#edit-profile button {
  width: 100px;
  border: 1px solid grey;
  padding: 0 0.5rem;
  border-radius: 5px;
}

.settings-btn {
  cursor: pointer;
}

#edit-tools {
  display: flex;
  align-items: center;
  flex: 2;
}

#profilePicHead {
  border-radius: 50%;
  width: 150px;
  height:150px;
  margin-top: 3rem;
}
.attachIcon{
  font-size:20px;
  margin-left: 30px;
  margin-top: 10px;

}
.postCaption{
  margin-left: 10px;
  width:80%;
  height:45px
}
#profile-center {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

#stories {
  padding: 1rem 10rem;
}
